<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Material Design for Bootstrap</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
    <!-- Dark MDB theme -->
    <link rel="stylesheet" href="css/mdb.dark.min.css"/>
    <!-- Regular MDB theme -->
    <!-- <link rel="stylesheet" href="css/mdb.min.css" /> -->
    <!--  Custom Styles for the page  -->
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>
<div class="container my-5">
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Zelos</a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarColor02"
                        aria-controls="navbarColor02"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#print-status">Print Status</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Files</a>
                        </li>

                    </ul>

                    <ul class="navbar-nav d-flex flex-row">
                        <!-- Icons -->
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <!-- Icon dropdown -->

                        <li class="nav-item me-3 me-lg-0 dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-mdb-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                <i class="fas fa-user"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider"/>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </section>
    <section id="print-status" class="print-status">
        <div class="container">
                <div class="card black-white ready">
                        <div class="card-header text-center">
                            <div class="card-header-text">
                                Printer A
                            </div>
                            <a href="_blank" class="settings"><img src="assets/icons/gear.svg" alt=""></a>
                        </div>
                        <div class="card-body">
                            <div class="progress-container">
                                Toner
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: 70%;"
                                         aria-valuenow="70"
                                         aria-valuemin="0"
                                         aria-valuemax="100">

                                    </div>
                                </div>
                            </div>

                            <div class="progress-container">
                                Maintinance Kit
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: 80%;"
                                         aria-valuenow="80"
                                         aria-valuemin="0"
                                         aria-valuemax="100">

                                    </div>
                                </div>
                            </div>

                            <div class="progress-container">
                                Toner
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: 80%;"
                                         aria-valuenow="30"
                                         aria-valuemin="0"
                                         aria-valuemax="100">

                                    </div>
                                </div>
                            </div>

                            <div class="progress-container">
                                Paper trays
                                <div class="paper-tray">
                                    <span class="tray-num bg-info">1</span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info"
                                             role="progressbar"
                                             style="width: 100%;"
                                             aria-valuenow="100"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                    </div>
                                </div><div class="paper-tray">
                                    <span class="tray-num bg-success">2</span>
                                    <div class="progress">
                                        <div class="progress-bar bg-success"
                                             role="progressbar"
                                             style="width: 100%;"
                                             aria-valuenow="100"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="paper-tray">
                                    <span class="tray-num bg-success">3</span>
                                    <div class="progress">
                                        <div class="progress-bar bg-success"
                                             role="progressbar"
                                             style="width: 100%;"
                                             aria-valuenow="100"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="paper-tray">
                                    <span class="tray-num bg-success">4</span>
                                    <div class="progress">
                                        <div class="progress-bar bg-success"
                                             role="progressbar"
                                             style="width: 100%;"
                                             aria-valuenow="100"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="paper-tray">
                                    <span class="tray-num bg-success">5</span>
                                    <div class="progress">
                                        <div class="progress-bar bg-success"
                                             role="progressbar"
                                             style="width: 100%;"
                                             aria-valuenow="100"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            dssd
                        </div>
                </div>
                <div class="card black-white ready">
                    <div class="card-header text-center">
                        <div class="card-header-text">
                            Printer A
                        </div>
                        <a href="_blank" class="settings"><img src="assets/icons/gear.svg" alt=""></a>
                    </div>
                    <div class="card-body">
                        <div class="progress-container">
                            Toner
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 70%;"
                                     aria-valuenow="70"
                                     aria-valuemin="0"
                                     aria-valuemax="100">

                                </div>
                            </div>
                        </div>

                        <div class="progress-container">
                            Maintinance Kit
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 80%;"
                                     aria-valuenow="80"
                                     aria-valuemin="0"
                                     aria-valuemax="100">

                                </div>
                            </div>
                        </div>

                        <div class="progress-container">
                            Toner
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 80%;"
                                     aria-valuenow="30"
                                     aria-valuemin="0"
                                     aria-valuemax="100">

                                </div>
                            </div>
                        </div>

                        <div class="progress-container">
                            Paper trays
                            <div class="paper-tray">
                                <span class="tray-num bg-info">1</span>
                                <div class="progress">
                                    <div class="progress-bar bg-info"
                                         role="progressbar"
                                         style="width: 100%;"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                            </div><div class="paper-tray">
                                <span class="tray-num bg-success">2</span>
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: 100%;"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <div class="paper-tray">
                                <span class="tray-num bg-success">3</span>
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: 100%;"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <div class="paper-tray">
                                <span class="tray-num bg-success">4</span>
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: 100%;"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <div class="paper-tray">
                                <span class="tray-num bg-success">5</span>
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: 100%;"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        dssd
                    </div>
                </div>
            <div class="card black-white ready">
                <div class="card-header text-center">
                    <div class="card-header-text">
                        Printer A
                    </div>
                    <a href="_blank" class="settings"><img src="assets/icons/gear.svg" alt=""></a>
                </div>
                <div class="card-body">
                    <div class="progress-container">
                        Toner
                        <div class="progress">
                            <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: 70%;"
                                 aria-valuenow="70"
                                 aria-valuemin="0"
                                 aria-valuemax="100">

                            </div>
                        </div>
                    </div>

                    <div class="progress-container">
                        Maintinance Kit
                        <div class="progress">
                            <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: 80%;"
                                 aria-valuenow="80"
                                 aria-valuemin="0"
                                 aria-valuemax="100">

                            </div>
                        </div>
                    </div>

                    <div class="progress-container">
                        Toner
                        <div class="progress">
                            <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: 80%;"
                                 aria-valuenow="30"
                                 aria-valuemin="0"
                                 aria-valuemax="100">

                            </div>
                        </div>
                    </div>

                    <div class="progress-container">
                        Paper trays
                        <div class="paper-tray">
                            <span class="tray-num bg-info">1</span>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                     role="progressbar"
                                     style="width: 100%;"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div><div class="paper-tray">
                            <span class="tray-num bg-success">2</span>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 100%;"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="paper-tray">
                            <span class="tray-num bg-success">3</span>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 100%;"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="paper-tray">
                            <span class="tray-num bg-success">4</span>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 100%;"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="paper-tray">
                            <span class="tray-num bg-success">5</span>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 100%;"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    dssd
                </div>
            </div>
            <div class="card black-white attention">
                <div class="card-header text-center">
                    <div class="card-header-text">
                        Printer A
                    </div>
                    <a href="_blank" class="settings"><img src="assets/icons/gear.svg" alt=""></a>
                </div>
                <div class="card-body">
                    <div class="progress-container">
                        Toner
                        <div class="progress">
                            <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: 70%;"
                                 aria-valuenow="70"
                                 aria-valuemin="0"
                                 aria-valuemax="100">

                            </div>
                        </div>
                    </div>

                    <div class="progress-container">
                        Maintinance Kit
                        <div class="progress">
                            <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: 80%;"
                                 aria-valuenow="80"
                                 aria-valuemin="0"
                                 aria-valuemax="100">

                            </div>
                        </div>
                    </div>

                    <div class="progress-container">
                        Toner
                        <div class="progress">
                            <div class="progress-bar bg-success"
                                 role="progressbar"
                                 style="width: 80%;"
                                 aria-valuenow="30"
                                 aria-valuemin="0"
                                 aria-valuemax="100">

                            </div>
                        </div>
                    </div>

                    <div class="progress-container">
                        Paper trays
                        <div class="paper-tray">
                            <span class="tray-num bg-info">1</span>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                     role="progressbar"
                                     style="width: 100%;"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div><div class="paper-tray">
                            <span class="tray-num bg-success">2</span>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 100%;"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="paper-tray">
                            <span class="tray-num bg-success">3</span>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 100%;"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="paper-tray">
                            <span class="tray-num bg-success">4</span>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 100%;"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="paper-tray">
                            <span class="tray-num bg-success">5</span>
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 100%;"
                                     aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    dssd
                </div>
            </div>
        </div>



    </section>

</div>
</body>
<script type="text/javascript" src="js/mdb.min.js"></script>
</html>