*{
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto;
}

.print-status{
  margin-top: 50px;
}

.print-status .progress{
  border-radius: 0.25rem;
}

.print-status .paper-tray .progress{
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: none;
}

.print-status .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.print-status .card{
  width: 300px;
  padding: 0;
  margin: 10px;
}


.print-status .card-header{
  position: relative;
}

.print-status .card-header .settings{
  position: absolute;
  right: 20px;
  top: 8px;
  text-decoration: none;
}

.print-status .card-header .settings:hover img{
  transform: rotate(-90deg);
}

.print-status .card-header .settings img{
  transition: 0.5s;
  height: 20px;
  width: 20px;
}


.print-status .ready{
  box-shadow: 0 0 20px 0 #02b74a;
}

.print-status .warning{
  box-shadow: 0 0 20px 0 #ffa900;
}

.print-status .attention{
  box-shadow: 0 0 20px 0 red;
}

.print-status .progress{
  height: 12px;
  margin-bottom: 10px;
  font-size: 15px;
  border: 2px solid #eee;
}

.print-status .paper-tray .tray-num{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 2px solid #eee;
  border-right: none;
}

.print-status .paper-tray{
  display: flex;
  margin-bottom: 10px;
}

.print-status .paper-tray .progress{
  font-size: 15px;
  width: 90%;
  height: auto;
  margin-bottom: 0;
}